*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(173, 172, 173);
    width: 100%;
}

.container{
    width: 40%;
    margin: 145px auto;
    background: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 5px;
}

.div{
    display: flex;
    padding: 10px 0px;
}


.div1{
    flex: 1px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
}

.div2{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.div div label{
    padding: 10px 0px;
}

.div2 select{
    padding: 7px;
}

.fileinput::-webkit-file-upload-button{
    visibility: hidden;
}

.fileinput::before{
    content: 'select file';
    display: inline;
    background: rgba(0, 0, 0, 0.205);
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px 10px;


}

.submitbutton{
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: seagreen;
    width: 100%;
    margin-top: 10px;
}

h1{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #000;
}