
body{
    background-color: rgb(173, 172, 173);
}
.box3{
    width: 30%;
    margin: 30px auto;
    background-color:rgb(248, 248, 250);
    border-radius: 10px;
    padding: 20px 30px;
    
}
.form3{
    display: flex;
    flex-direction: column;
}

label{
    padding: 10px;
}

#description{
    margin: 10px 0px;
    border-radius: 5px;
    padding: 5px;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
.stage input:nth-child(2), .stage input:nth-child(3){
    margin-left: 30px;
    margin-right: 10px;

}

h1{
    text-align: center;
}

.submit{
    background-color: rgb(11, 116, 54);
    color: ivory;
    padding: 10px;
    border: 0;
    font-size: medium;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2;

}