body{
    width: 100%;
    overflow: hidden;
    background-color: rgb(160, 156, 160);
}

.box1{
    width: 50%;
    margin: 1px auto;
    background-color:rgb(219, 218, 218);
    margin-top: 70px;
    display: flex;
    border-radius: 5px;
}
h1{
    text-align: center;
}

.col2{
    padding: 50px 50px;
}

.name input{
    border: 0;
    background-color: transparent;
}

fieldset{
    width: 100%;
    background-color: rgb(242, 240, 243);
}

.submitbutton{
    margin-left: 15px;
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 1;
    background-color: seagreen;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}



