*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(173, 172, 173);
    width: 100%;
}

.box2{
    width: 40%;
    margin: 145px auto;
    display: flex;
    flex-direction: column;
    background: rgb(247, 241, 241);
    padding: 20px 30px;
    border-radius: 5px;
}

h1{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #000;
}

form{
    display: flex;
    flex-direction: column;
}
form input.title{
    width: 95%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

label{
    padding: 10px;
}

.bar{
    display: flex;
    padding: 10px 0px;

}

.bar1{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.bar2{
    flex:1;
    display: flex;
    flex-direction: column;
}

#m{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

#m2{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.submitbutton{
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: seagreen;
}